<div class="container">
	<div class="page-header">
  		<h1>Galleries <small>Editor</small></h1>
  		<div class="container">
  			<%= button_to "New Gallery", new_admin_gallery_path, method: "get", remote: true, type: "button", class: "btn btn-primary" %>
		</div>
	</div>

	<div id="galleries">
		<%= render @galleries %>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
  <div class="modal-content">
    
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div>