<div class="container">
	<div class="page-header">
  		<h1>Galleries <small>Editor</small></h1>
  		<div class="container">
  			<%= button_to "New Gallery", new_admin_gallery_path, method: "get", remote: true, type: "button", class: "btn btn-primary" %>
		</div>
	</div>

	<div id="galleries">
		<%= render @galleries %>
	</div>
</div>

</div>