<div class="container">
    <div class="content">
      <div class="row">
        <div id="login-form">
          <h2>Login</h2>
          <%= form_for @user, as: :user, url: admin_sign_in_path(@user) do |f| %>
            <fieldset>
              <div class="login-input">
                <%= f.text_field :email, placeholder: 'Email Address' %>
              </div>
              <div class="login-input">
                <%= f.password_field :password, placeholder: 'Password' %>
              </div>
              <%= f.submit 'Sign in', class: 'btn primary' %>
            </fieldset>
          <% end %>
        </div>
      </div>
    </div>
  </div> <!-- /container -->