<div class="container">
    <div class="content">
      <div class="row">
        <div id="login-form">
          <h2>Login</h2>
          <%= form_for [:admin, @user] do |f| %>
            <fieldset>
              <div class="login-input">
                <%= f.text_field :email, placeholder: 'Email Address' %>
              </div>
              <div class="login-input">
                <input type="password" placeholder="Password">
              </div>
              <button class="btn primary" type="submit">Sign in</button>
            </fieldset>
          <% end %>
        </div>
      </div>
    </div>
  </div> <!-- /container -->