<div id="header">
    <h1><%= link_to "ELIZABETH MCPHETRIDGE", root_path %></h1>
    <nav>
        <ul>
            <li><%= link_to 'About', get_about_path, remote: true %></li>
            <% @navItems.each do |navItem| %>
                <li><%= link_to navItem.name, get_gallery_path(navItem), remote: true %></li>
        <% end %>
        </ul>
    </nav>
</div>

<!--Arrow Navigation-->
<a id="prevslide" class="load-item"></a>
<a id="nextslide" class="load-item"></a>

<div id="thumb-tray" class="load-item">
    <div id="thumb-back"></div>
    <div id="thumb-forward"></div>
</div>

<div id="thumb-tray" class="load-item"> 
</div>
<!--Time Bar-->
<div id="progress-back" class="load-item">
    <div id="progress-bar"></div>
</div>

<!--Control Bar-->
<div id="controls-wrapper" class="load-item">
    <div id="controls">

        <a id="play-button"><img id="pauseplay" src="<%= asset_url('pause.png') %>"/></a>

        <!--Thumb Tray button-->
        <a id="tray-button"><img id="tray-arrow" src="img/button-tray-up.png"/></a>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
