<div id="header">
    <h1><%= link_to "ELIZABETH MCPHETRIDGE", root_path %></h1>
    <nav>
        <ul>
            <li><%= link_to 'About', get_about_path, remote: true %></li>
            <% @navItems.each do |navItem| %>
                <li><%= link_to navItem.name, get_gallery_path(navItem), remote: true %></li>
            <% end %>
        </ul>
    </nav>
    <div id="preview-images">

    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
  <div class="modal-content">
    
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div>

<div id="hit-area"></div>
