// Place all the styles related to the Galleries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#gallery-description{
	width:100%;
}

#gallery-description textarea, input[type="text"], input[type="password"] {
	
	color:#555555;
	border:1px solid #cccccc;
	resize:none;

	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	width:100%;
	
	&:focus {
		outline-offset: -2px;
		border-color:rgba(82,168,236,0.8);
		outline:0;
		-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
		-moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
		box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
	}
}

