
/*
#progress-back {
    bottom:0px;
}
*/

#thumb-tray {
    position:fixed;
    bottom:0px !important;
    display:none !important;
    width:100%;

    #thumb-list {
        margin-bottom:2px;
        text-align:center; 
    }

    .preview-image-container {
        border:1px solid black;
        display:inline-block;
        margin-left:5px;

        //padding:2px;

        img {
            height:45px;
            width:75px;
        }

        &:first-child {
            margin-left:0px;
        }
    }
}

.hide-this {
    display:none !important;
}

.modal-header {
    display:none !important;
}

.modal-dialog {
    width:900px !important;
}

.modal-content {
    width:900px !important;
}

#header {
    position:fixed;
    bottom:50px;
    width:100%;
    height:85px;
    background-color:rgba(255,255,255,0.5);

    h1 {
        font-family: 'American_Purpose';
        font-weight: normal;
        margin: 10px 10px 0px 15px;
        font-size: 75px;
        display: inline-block;
        //width:290px;
    }

    h1 a {
        text-decoration: none;
        color:black;
    }

    nav {
        display: inline-block;
        vertical-align: top;
        float:right;
        margin-right:75px;

        ul {
            white-space: nowrap;
            width: auto;
            margin-top:5px;

            li {
                font-size: 15px;
                color: black;
                //padding:13px;
                margin-left:2px;
                height:17px;
                //display:inline;
                width:100px;

                a:visited {
                    color: black;
                    text-decoration: none;
                }

                a {
                    display:inline-block;
                    width:100px;
                    margin:0px;
                    padding:0px;
                    padding-left:10px;
                }

                a:link {
                    color: black;
                    text-decoration: none;
                }

                a:hover {
                    background-color:#999999;
                }
            }

        }
    }
}
